.thumbnail img {
    width: 100%;
}
.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form {
    display: inline;
}

#comment-delete{
    display: inline;
}

.thumbnail {
    background-color: #6A706E;
    color: white;
}

.well {
    background-color: #6A706E;
    color: white;
}